<html>
    <head>
        <title>stan... loona</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.youtube.com/watch?v=RWeyOyY_puQ">the best mv of mvs</a></h1>
        </div>

        {% for post in posts %}    <!-- for en html/django -->
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p> <!-- convierte saltos de linea en parrafos -->
            </div>
        {% endfor %}

    </body>
</html>